<div class="col-md-offset-4">
  <h1>Log In</h1>
  <p id="alert"><%= alert %></p>
  <%= form_tag sessions_path do %>
    <div class="input-group col-xs-4">
    <!--  <%= label_tag :email %> -->
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
    </div>
    <div class="input-group col-xs-4">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <%= password_field_tag :password, params[:password], class: "form-control", placeholder:"Password" %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
</div>