<div class="col-md-12">
    
    
    <div class="profile col-md-offset-3">
        <%= image_tag "pug_profile.png", class:"profile-pic" %>
        <div class="profile-info">
            <h1 class="profile-title"><%= @user.name %></h1>
            <p>E-mail: <%= @user.email %></p>
            <p>Interests: <%= @user.interests %></p>
            <%= button_to "Edit", edit_user_path(@user.id), :method => "get", class:"btn btn-primary" %>
        </div>
    </div>

</div>